# --- Python & System Junk ---
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# --- Environments ---
env/
venv/
.venv/

# --- Large Data Files  ---
data/
*.npz
*.npy
*.h5

# --- IDE Settings (Optional) ---
.vscode/
.idea/

# --- Allow Assets  ---
!assets/
!assets/*.png